.app-main-page-container-component {
    .app-input-component-container {
        margin-left: 45%;
        margin-top: 50%;
        
        .app-input-component {
            position: relative;
            margin-top: 8px;
        }
    }
}
