.app-main-page-container-component {
    background-image: url('../../../assets/background.jpg');
    
    .app-header-component-container {
        display: flex;
        position: relative;
        
        .material-icons {
            position: absolute;
            font-size: 32px;
            left: 20px;
            top: 9px;
        }
    
        .app-input-component-container {
            margin-left: 45%;
            margin-top: 50%;
            
            .app-input-component {
                position: relative;
                margin-top: 8px;
            }
        }
    }
    
    .search-result-wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
