@import '../styles/varaibles';

.app-cocktail-item {
    width: 30vw;
    min-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px $black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &-image {
        img {
            height: 250px;
            width: 250px;
        }
    }
    
    &-text {
        font-weight: bold;
    }
}
